<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Test Page</title>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.js"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>
</head>

<body>
    <h3> This is a demo title </h3>

    <p>This plot is just plt.plot(range(10))</p>

    <img src='data:image/png;base64,{{ mplib_data }}' />

    </br>

    {{ bokeh_div | safe }}

    {{ bokeh_script | safe }}

</body>

</html>